/cmake-build-release/.ninja_deps
/cmake-build-release/.ninja_log
/cmake-build-release/build.ninja
/cmake-build-release/.cmake/api/v1/query/cache-v2
/cmake-build-release/.cmake/api/v1/reply/cache-v2-a714ed32e2f20ed3db94.json
/cmake-build-release/CMakeFiles/clion-environment.txt
/cmake-build-release/CMakeFiles/clion-Release-log.txt
/cmake-build-release/CMakeFiles/cmake.check_cache
/cmake-build-release/cmake_install.cmake
/cmake-build-release/CMakeCache.txt
/cmake-build-release/CMakeFiles/3.27.8/CMakeCCompiler.cmake
/cmake-build-release/CMakeFiles/3.27.8/CompilerIdC/CMakeCCompilerId.c
/cmake-build-release/CMakeFiles/3.27.8/CompilerIdC/CMakeCCompilerId.o
/cmake-build-release/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-release/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_C.bin
/cmake-build-release/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-release/.cmake/api/v1/reply/cmakeFiles-v1-dbf109e9da29c56502a7.json
/cmake-build-release/CMakeFiles/3.27.8/CMakeSystem.cmake
/cmake-build-release/.cmake/api/v1/query/codemodel-v2
/cmake-build-release/.cmake/api/v1/reply/codemodel-v2-4998fb350b2ede669896.json
/cmake-build-release/.cmake/api/v1/reply/directory-.-Release-f5ebdc15457944623624.json
/cmake-build-release/.cmake/api/v1/reply/index-2024-04-13T07-28-12-0498.json
/cmake-build-release/Testing/Temporary/LastTest.log
/cmake-build-release/CMakeFiles/xml2pdf.dir/src/main.c.o
/cmake-build-release/output.html
/cmake-build-release/CMakeFiles/rules.ninja
/cmake-build-release/.cmake/api/v1/reply/target-xml2pdf-Release-482207101657131f85d9.json
/cmake-build-release/CMakeFiles/TargetDirectories.txt
/cmake-build-release/.cmake/api/v1/query/toolchains-v1
/cmake-build-release/.cmake/api/v1/reply/toolchains-v1-e0f424cc4383644d699f.json
/.idea/workspace.xml
/cmake-build-release/xml2pdf
